@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#navbar {
    background: #1b1b1b;
}

#navbar:after {
    content: '';
    clear: both;
    display: table;
}

#navbar .logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

#navbar ul {
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}

#navbar ul li {
    float: left;
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}

#navbar ul li a {
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}

#navbar ul li a:hover {
    color: cyan;
    border-radius: 5px;
    box-shadow:  0 0 5px #33ffff,
                 0 0 10px #66ffff;
}

#navbar ul ul li a:hover {
    box-shadow: none;
}

#navbar ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

#navbar ul ul ul {
    border-top: none;
}

#navbar ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

#navbar ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

#navbar ul ul li a {
    line-height: 50px;
}

#navbar ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
}

#navbar .show, .icon, input {
    display: none;
}

#navbar .fa-plus{
    font-size: 15px;
    margin-left: 40px;
}

@media all and (max-width: 968px) {
    #navbar ul {
        margin-right: 0px;
        float: left;
    }
    #navbar .logo {
        padding-left: 30px;
        width: 100%;
    }
    #navbar .show + a, ul {
        display: none;
    }
    #navbar ul li,
    #navbar ul ul li {
        display: block;
        width: 100%;
    }
    #navbar ul li a:hover {
        box-shadow: none;
    }
    #navbar .show {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    #navbar .show:hover {
        color: cyan;
    }
    #navbar .icon {
        display: block;
        color: white;
        position: absolute;
        top: 0;
        right: 40px;
        line-height: 70px;
        cursor: pointer;
        font-size: 25px;
    }
    #navbar ul ul { 
        top: 70px;
        border-top: 0px;
        float: none;
        position: static;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    #navbar ul ul a {
        padding-left: 40px;
    }
    #navbar ul ul ul a {
        padding-left: 80px;
    }
    #navbar ul ul ul li {
        position: static;
    }
    #navbar [id^=btn]:checked + ul {
        display: block;
    }
    #navbar ul ul li {
        border-bottom: 0px;
    }
    #navbar span.cancel:before {
        content: '\f00d';
    }
}
