.input {
    position: relative; 
    font-size: 1.5em; 
    padding: 3px; 
    display: inline-block; 
    border-radius: 9999em;
}

.input *:not(span) {
    position: relative; 
    display: inherit; 
    border-radius: inherit; 
    margin: 0; 
    border: none; 
    outline: none; 
    padding: 0 0.325em; 
    z-index: 1;
}

.input *:not(span):focus + span {
    opacity: 1;
}

input {
    font-family: inherit; 
    line-height: inherit; 
    color: #2e3750; 
    min-width: 12em;
}

::-moz-placeholder {
    color: #cbd0d5;
}

:-ms-input-placeholder {
    color: #cbd0d5;
}

::placeholder {
    color: #cbd0d5;
}

.submitButtonSearch {
    width: auto; 
    height: 40px; 
    border: none; 
    outline: none; 
    color: #fff; 
    background: #111; 
    cursor: pointer; 
    position: relative; 
    z-index: 0; 
    border-radius: 10px;
}

.submitButtonSearch:before {
    content: ''; 
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); 
    position: absolute; 
    top: -2px; 
    left:-2px; 
    background-size: 400%; 
    z-index: -1; 
    filter: blur(5px); 
    width: calc(100% + 4px); 
    height: calc(100% + 4px); 
    animation: glowing 20s linear infinite; 
    opacity: 0; 
    transition: opacity .3s ease-in-out; 
    border-radius: 10px;
}

.submitButtonSearch:active {
    color: #000;
}

.submitButtonSearch:active:after {
    background: transparent;
}

.submitButtonSearch:hover:before {
    opacity: 1;
}

.submitButtonSearch:after {
    z-index: -1; 
    content: ''; 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background: #111; 
    left: 0; 
    top: 0; 
    border-radius: 10px;
}

@keyframes glowing {
    0% { 
        background-position: 0 0; 
    }
    50% { 
        background-position: 400% 0; 
    }
    100% { 
        background-position: 0 0; 
    }
}